{% extends 'base.html' %}
{% block title %}
Classified
{% endblock title %}
{% block css %}
 .section {
            position: relative;
            width: 100%;
            height: 10vh;
            display: flex;
            
            align-items: center;
            justify-content: unset;
            overflow: unset;
            background-color: rgb(167, 166, 126);
        }
    

.section h1 {
            align-items: center;
            font-size: 24px;
            font-family: "Cookie";
            padding: unset;
            visibility: hidden;
            z-index: unset;


        }
#navbarDropdown {
    font-family: "Cookie";
    font-size: 24px;
   
{% endblock css %}

{% block body %}


{% endblock body %}

{% block js %}



{% endblock js %}